NODE_ENV=development
PORT=3000

STUDENT_NAME=Yasir Kel
STUDENT_NUMBER=replace-with-your-student-number

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=share_a_meal
DB_CONNECTION_LIMIT=10

JWT_SECRET=replace-with-a-secure-secret
JWT_EXPIRES_IN=1h
