NODE_ENV=production
PORT=3000

DB_HOST=
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_DATABASE=
DB_SSL=true
DB_SSL_REJECT_UNAUTHORIZED=false
DB_CONNECTION_LIMIT=10

JWT_SECRET=
JWT_EXPIRES_IN=1h
STUDENT_NAME=Yasir Kelloulou
STUDENT_NUMBER=2212394
APP_DESCRIPTION=Backend REST API for the Share-a-Meal Programmeren 4 assignment
